extends ../layout

block content
  .tab-bar
    ul.nav.nav-tabs
      li.active.offset3
        a(href="/gift") ギフト管理
      li
        a(href="/gift/orders") ギフト注文の管理

  if typeof(message) !== 'undefined' && message.length !== 0
    #message-box
    .row
      .alert.alert-error.span6.offset6.message-parttimer
          button.close(type='button', data-dismiss='alert') x
          =message

  #gift-store.row.offset2

    #left-nav.span3
      ul.nav.nav-list
        li.nav-header カテゴリ
        if typeof(currentCategory) === 'undefined'
          li.active
            a(href='/gift') 全てのギフト
        else
          li
            a(href='/gift') 全てのギフト
        for category in categories
          if category.id === currentCategory
            li.active
              a(href='/gift?category=#{ category.id }')=category.name
          else
            li
              a(href='/gift?category=#{ category.id }')=category.name

        li.divider
        li
          a(href='/gift/categories') ギフトカテゴリ管理
        li
          a(href='/gift/add') 新しいギフトの追加

    #gifts.span10
      if gifts.length === 0
        #notify-box.row.offset2
          p.lead.text-info 現在、ギフトがありません
      else
        ul#gifts-grid.thumbnails
          for gift in gifts
            li.span2
              .thumbnail
                .thumbnail-img-div
                  a(href='#')
                    if env === 'local'
                      img(src='/images/#{ gift.image }')
                    else
                      img(src='http://49.212.161.19:3050/#{ gift.image }')
                .caption
                  p
                    strong
                      span.gift-name=gift.name
                  p 
                    em #{ gift.cost } pts
                  p.options
                    a.gift-more.text-info(href='#', data-gift-id='#{ gift.id }') 他

      if isPager
        #pager
          ul.pager
            li.previous
              if pageNum === 1
                if typeof(currentCategory) !== 'undefined'
                  a(href='/gift?page=1&category=#{ currentCategory }').btn.disabled &larr; 最初
                else
                  a(href='/gift?page=1').btn.disabled &larr; 最初
              else 
                if typeof(currentCategory) !== 'undefined'
                  a(href='/gift?page=1&category=#{ currentCategory }') &larr; 最初
                else 
                  a(href='/gift?page=1') &larr; 最初
            li
              if pageNum === 1
                if typeof(currentCategory) !== 'undefined'
                  a(href='/gift?page=1&category=#{ currentCategory }').btn.disabled 前
                else
                  a(href='/gift?page=1').btn.disabled 前
              else 
                if typeof(currentCategory) !== 'undefined'
                  a(href='/gift?page=#{ pageNum - 1 }&category=#{ currentCategory }') 前
                else
                  a(href='/gift?page=#{ pageNum - 1 }') 前
            li
              if pageNum === maxPage
                if typeof(currentCategory) !== 'undefined'
                  a(href='/gift?page=#{ maxPage }&category=#{ currentCategory }').btn.disabled 次
                else
                  a(href='/gift?page=#{ maxPage }').btn.disabled 次
              else 
                if typeof(currentCategory) !== 'undefined'
                  a(href='/gift?page=#{ pageNum + 1 }&category=#{ currentCategory }') 次
                else
                  a(href='/gift?page=#{ pageNum + 1 }') 次
            li.next
              if pageNum === maxPage
                if typeof(currentCategory) !== 'undefined'
                  a(href='/gift?page=#{ maxPage }&category=#{ currentCategory }').btn.disabled Last &rarr;
                else
                  a(href='/gift?page=#{ maxPage }').btn.disabled 最後 &rarr;
              else 
                if typeof(currentCategory) !== 'undefined'
                  a(href='/gift?page=#{ maxPage }&category=#{ currentCategory }') Last &rarr;
                else
                  a(href='/gift?page=#{ maxPage }') 最後 &rarr;

    #gift-modal.modal.hide.fade(tabindex='-1', role='dialog', aria-labelledby='gift-modal-inner', aria-hidden='true')

      .modal-header
        button.close(type='button', data-dismiss='modal', aria-hidden='true') x
        h3#gift-modal-inner 

      .modal-body

      .modal-footer
        a#edit-gift.btn.btn-info(href='#') 更新
        a#delete-gift.btn.btn-danger(href='#') 削除
