extends ../layout

block content
  .tab-bar
    ul.nav.nav-tabs
      li.offset3
        a(href='/gift') ギフト管理
      li.active
        a(href='/gift/orders') ギフト注文の管理

  #orders.row.offset2
    input#csrf(type='hidden', value=token)
    if orders.length === 0
      #no-order.span10.offset2
        p.lead.text-info 現在、注文がありません
    else
      #order.offset1.span12
        table.order-table.table.table-bordered.table-hover.table-striped
          tr
            th コード
            th 注文時間
            th ユーザー
            th ギフト
            th 連絡先
            th Status
          for order in orders
            tr
              td=order.orderCode
              td=order.orderTime
              td
                a(href='/user/#{ order.user.id }')=order.user.username
              td
                a.gift-detail(href='#', data-gift-id='#{ order.gift.id}')=order.gift.name
              td.contact-td
                ul
                  li
                    strong 住所:
                    |  #{ order.address }
                  li
                    strong 郵便番号:
                    |  #{ order.postalCode } 
                  li
                    strong 電話番号:
                    |  #{ order.phoneNumber }
              td
                a.order-status(href='#', data-type='select', data-pk=order.id, data-name='status', data-value='#{ order.status }', data-original-title='Select order status', data-url='/gift/order/#{ order.id }')

        if isPage === true
          #pager
            ul.pager
              li.previous 
                if pageNum === 1
                  a(href='/gift/orders?page=1').btn.disabled &larr; 最初
                else
                  a(href='/gift/orders?page=1') &larr; 最初
              li 
                if pageNum === 1
                  a(href='/gift/orders?page=1').btn.disabled 前
                else
                  a(href='/gift/orders?page=#{ pageNum - 1 }') 前
              li 
                if pageNum === maxPage
                  a(href='/gift/orders?page=#{ maxPage }').btn.disabled 次
                else
                  a(href='/gift/orders?page=#{ pageNum + 1 }') 次
              li.next 
                if pageNum === maxPage
                  a(href='/gift/orders?page=#{ maxPage }').btn.disabled 最後 &rarr;
                else
                  a(href='/gift/orders?page=#{ maxPage }') 最後 &rarr;

           
  #gift-modal.modal.hide.fade(tabindex='-1', role='dialog', aria-labelledby='gift-modal-inner', aria-hidden='true')

    .modal-header
      button.close(type='button', data-dismiss='modal', aria-hidden='true') x
      h3#gift-modal-inner 

    .modal-body

    .modal-footer
      a#edit-gift.btn.btn-info(href='#') ギフト編集
