extends ../layout

block content
  .tabbable.tab-bar
    ul.nav.nav-tabs
      li.active.offset3
        a(href="#tab1", data-toggle="tab") アルバイト管理
      li
        a(href="#tab2", data-toggle="tab") 新アルバイト作成

    .tab-content
      #tab1.tab-pane.active
        if typeof(message) !== 'undefined' && message.length !== 0
          #message-box
          .row
            .alert.alert-error.span6.offset6.message-parttimer
                button.close(type='button', data-dismiss='alert') x
                =message

        .search-box.row
          form#parttimer-form(action='/parttimer/search-parttimer', method='get')
            .row
              .span8.offset6
                .input-append
                  if typeof(searchKey) !== 'undefined'
                    input#search-username.input-xxlarge(type='text', name='searchUsername', placeholder='Username', value='#{ searchKey }')
                  else
                    input#search-username.input-xxlarge(type='text', name='search', placeholder='Username')

                  span.add-on
                    i.icon-search
            .row
              #search-options.span9.offset7
                  button.btn(type='submit') ユーザー検索
                  select(name='statusOption')
                    option(value='all') 全てのユーザー
                    option(value='banned') 禁制されたユーザーのみ
                    option(value='online') オンラインユーザーのみ
                    option(value='offline') オフラインユーザーのみ


        #users-box.span12.offset3.row
          input#current-page(type='hidden', value='#{ page }')
          ul#users-grid.thumbnails
            if typeof(users) !== 'undefined'
              if users.length !== 0
                for user in users
                  li.span2
                    .thumbnail
                      .thumbnail-img-div
                        a(href='/parttimer/#{ user.id }')
                          img(src='http://49.212.161.19:3050/#{ user.profilePhoto }')
                      .caption
                        h5=user.username
                        p
                          em ステータス:&nbsp; 
                          if user.status === 'online'
                            span.label.label-success=user.status.toUpperCase()
                          else if user.status === 'offline'
                            span.label=user.status.toUpperCase()
                          else
                            span.label.label-important=user.status.toUpperCase()
          div.hide.load-more
            i.icon-spinner.icon-spin.icon-2x

      #tab2.tab-pane.fade
        .row
          .span7.offset6.register-block
            form#create-parttimer.form(action='/parttimer/create-parttimer', method='post',
              enctype='multipart/form-data')
              legend.register-legend 新アルバイト作成
              div.offset1.register-inputs
                div.control-group
                  input(type='hidden', name='_csrf', value=token)
                  label.control-label(for='username') ユーザー名:
                  div.controls
                    input#username.input-xlarge(type='text', name='username', placeholder='ユーザー名', required, data-validation-required-message='ユーザー名は必須です', data-validation-regex-regex='[a-zA-Z0-9_]+', data-validation-regex-message='ユーザー名のキャラクターは正しくありません', maxlength='20', data-validation-maxlength-message='ユーザー名は1文字以上、20文字以内でなければなりません', minlength='1', data-validation-minlength-message='ユーザー名は1文字以上、20文字以内でなければなりません', data-validation-ajax-ajax='/parttimer/check-username')
                    p.help-block

                div.control-group
                  label.control-label(for='email') 
                    | メール:
                    em.muted &nbsp;(オプショナル)
                  div.controls
                    input#email.input-xlarge(type='email', name='email', data-validation-email-message='メールアドレスは正しくありません', data-validation-ajax-ajax='/parttimer/check-email', placeholder='メール')
                    p.help-block

                div.control-group
                  label.control-label(for='password') パスワード
                  div.controls
                    input#password(type='password', name='password', required, data-validation-required-message='パスワードは必須です', placeholder='パスワード', maxlength='20', data-validation-maxlength-message='ユーザー名は4文字以上、20文字以内でなければなりません', minlength='4', data-validation-minlength-message='ユーザー名は4文字以上、20文字以内でなければなりません')
                    p.help-block

                div.control-group
                  label.control-label(for='passwordConfirm') パスワード確認:
                  div.controls
                    input#password-confirm(type='password', name='passwordConfirm', required, data-validation-required-message='パスワード確認は必須です', data-validation-match-match='password', data-validation-match-message='パスワードとパスワードの確認は一致しなけらばなりません', placeholder='パスワード確認')
                    p.help-block

                div.control-group.register-submit
                  div.controls
                    button.btn.btn-large(type='submit') 作成
