extends ../layout

append head
  link(rel='stylesheet', href='http://cdn.leafletjs.com/leaflet-0.4/leaflet.css')
  //if lte IE 8
    link(rel='stylesheet', href='http://cdn.leafletjs.com/leaflet-0.4/leaflet.ie.css')

block content
  .tab-bar
    ul.nav.nav-tabs
      li.offset3
        a(href="/parttimer") アルバイト管理
      li.active
        a(href="#") #{ user.username }の情報

  if typeof(message) !== 'undefined' && message.length !== 0
    #message-box
    .row
      .alert.alert-error.span6.offset6.message-parttimer
          button.close(type='button', data-dismiss='alert') x
          =message

  #profile-box.span12.offset2.row
    #details.span4.thumbnail
      img(src='http://49.212.161.19:3050/#{ user.profilePhoto }')

      .caption
        h4=user.username
        ul
          li
            strong メール: 
            a(href='mailto:#{user.email}') #{ user.email }

          if user.gender 
            li
              strong 性別:
              |  #{ user.gender }

          if user.about
            li
              strong 詳細:
              |  #{ user.about }

          if user.birthday
            li
              strong 生年月日:
              |  #{ user.birthday }

          if user.screenName
            li
              strong スクリーン名:
              |  #{ user.screenName }

          if user.occupation
            li
              strong 職業:
              |  #{ user.occupation }

          if user.bloodType
            li
              strong 血液型:
              |  #{ user.bloodType }

          if user.lastLocation.name
            li
              strong 最後の場所: 
              |  #{ user.lastLocation.name }
          li
            strong ステータス:&nbsp; 
              if user.status === 'online'
                span.label.label-success=user.status.toUpperCase()
              else if user.status === 'offline'
                span.label=user.status.toUpperCase()
              else
                span.label.label-important=user.status.toUpperCase()

        #profile-options
          if user.status === 'banned'
            a.btn.btn-info.span1(href='/user/enable/#{ user.id }') 有効にする
          else
            a.btn.span1(href='/user/ban/#{ user.id }') 禁制
          a.btn.span1.btn-danger(href='/user/delete/#{ user.id }') 削除

        a#reset-password.btn.span2.btn-warning(href='#reset-modal', data-toggle='modal') パスワードのリセット

    #map-box.span6
      input#latitude(type='hidden', value='#{ user.lastLocation.coords[1] }')
      input#longitude(type='hidden', value='#{ user.lastLocation.coords[0] }')
      input#user-id(type='hidden', value='#{ user.id }')
      #map

  #reset-modal.modal.hide.fade(tabindex='-1', role='dialog', aria-labelledby='resetPasswordLabel', aria-hidden='true')
    form#create-parttimer.form(action='/parttimer/#{ user.id }/change-password', method='post')
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-hidden='true') x
        h3#reset-password-label パスワードのリセット
      .modal-body
        .offset2
          div.control-group
            input(type='hidden', name='_csrf', value=token)

          div.control-group
            label.control-label(for='password') 新パスワード:
            div.controls
              input#password(type='password', name='password', required, data-validation-required-message='新パスワードは必須です', placeholder='新パスワード', maxlength='20', data-validation-maxlength-message='パスワードは20文字以内でなければなりません', minlength='6', data-validation-minlength-message='パスワードは6文字以上でなければなりません')
              p.help-block

          div.control-group
            label.control-label(for='passwordConfirm') 新パスワード確認:
            div.controls
              input#password-confirm(type='password', name='passwordConfirm', required, data-validation-required-message='新パスワード確認は必須です', data-validation-match-match='password', data-validation-match-message='パスワードとパスワードの確認は一致しなけらばなりません', placeholder='新パスワード確認')
              p.help-block
      .modal-footer
        button.btn(data-dismiss='modal', aria-hidden='true') キャンセル
        button.btn(type='submit') パスワード変更


prepend scripts
  script(src="http://cdn.leafletjs.com/leaflet-0.4/leaflet.js")
